<form [formGroup]="signupForm">
  <div class="form-group">
    <label for="InputEmail">Email address</label>
    <input type="email" class="form-control" id="InputEmail" [formControlName]="'email'" aria-describedby="emailHelp"
           placeholder="Enter email" [ngClass]="signupForm.controls['email'].invalid ? 'is-invalid' : ''">
    <label class="text-danger" *ngIf="signupForm.controls['email'].hasError('email')" style="font-size: 13px">
      Enter a valid email address!
    </label>
  </div>

  <div class="form-group">
    <label for="InputUsername">Username</label>
    <input type="text" [formControlName]="'username'" class="form-control" id="InputUsername"
           placeholder="Enter username" [ngClass]="signupForm.controls['username'].invalid ? 'is-invalid' : ''">
    <label class="text-danger" *ngIf="signupForm.controls['username'].hasError('username')" style="font-size: 13px">
      Enter a valid username!
    </label>
  </div>

  <div class="form-group errorHandler">
    <label for="InputPassword">Password</label>
    <input type="password" class="form-control" [formControlName]="'password'" id="InputPassword"
           placeholder="Enter password">
    <!--Error handling -->
    <label class="text-danger" *ngIf="signupForm.controls['password'].hasError('hasNumber')" style="font-size: 13px">
      Must have at least 1 number!
    </label>
    <label class="text-danger" *ngIf="signupForm.controls['password'].hasError('hasCapitalCase')" style="font-size: 13px">
      Must have at least 1 Capital Case!
    </label>
    <label class="text-danger" *ngIf="signupForm.controls['password'].hasError('hasSmallCase')" style="font-size: 13px">
      Must have at least 1 Small Case!
    </label>
    <label class="text-danger" *ngIf="!signupForm.controls['password'].valid" style="font-size: 13px">
      Must have at least 5 characters!
    </label>
  </div>

  <div class="form-group">
    <label for="InputConfirmPassword">Confirm password</label>
    <input type="password" class="form-control" id="InputConfirmPassword" [formControlName]="'confirmPassword'"
           placeholder="Confirm password">
  </div>

  <button type="button" class="btn from-center btn-light mx-auto" style="text-align:center;display:block;">Sign Up
  </button>
</form>
