/* Icons made by https://www.flaticon.com/authors/prettycons from www.flaticon.com */
<header>
  <nav class="navbar fixed-top navbar-expand-lg">
    <div class="flex-grow-1">
      <span class="bookstore-text font-weight-light">Free shipping, 30-day return or refund guarantee.</span>
    </div>
    <div class="flex-grow-1 float-right font-weight-light">
      <a routerLink="/signup" class="float-right signup mr-2">Sign Up</a>
      <a routerLink="/login" class="float-right login mr-2">Login</a>
    </div>
  </nav>
</header>
