header {
  border-radius: 1px;
}

.login, .signup {
  background-color: transparent;
  color: #0079D3;
  fill: #0079D3;
  border: 1px solid #0079D3;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
}

.signup{
  background-color: #0079D3;
  border-color: #0079D3;
  color: aliceblue;
}

.signup:hover{
  opacity: 0.6;
}

.login:hover{
  background-color: #0079D3;
  border-color: #0079D3;
  color: black;
}

.bookstore-text {
  color: #0079D3;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
}

