<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="flex-grow-1">
    <span class="bookstore-text font-weight-light">
          <img src="assets/icons/book.svg">
      Your Book Store
    </span>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/" class="float-md-none home mr-5">Home</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/books" class="float-md-none books mr-5 ml-5">Books</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/contact" class="float-md-none contact ml-5">Contact</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <span class="icons">
        <img src="assets/icons/loupe.svg" class="ml-5 mr-5 loupe">
        <img src="assets/icons/shop.svg" class="cart">
        <img src="assets/icons/avatar.svg" class="ml-5 mr-5 avatar">
      </span>
    </div>
  </div>
</nav>

