img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
 .navbar {
   letter-spacing: 1px;
   text-decoration: none;
   font-size: 20px;
   text-transform: uppercase;
   opacity: 1;
 }
 .home, .books, .contact {
   color: black;
 }

 .icons img {
   width: 25px;
   height: 25px;
 }

.bookstore-text {
  color: rgb(0, 0, 0);
  float: left;
}
